.boton-terminales {
    width:140px !important;
    height:135px !important;
    margin-bottom:10px !important;
    vertical-align: middle !important;
    text-align: center !important;
    text-wrap: normal !important;
    padding: 15px 0 0 0 !important;
}